/*
Advanced CCS Customization of BoardGameArena
Add this to https://en.boardgamearena.com/#!preferences?section=advanced
Using !important to override existing CSS
*/

html {
background: url("") !important;
background-color: #778899 !important;
}

#other_games_title {
display: none !important;
}

#chatbar {
left: 200px !important;
}

/*Krosmaster Arena*/
.playerstock {
border-radius: 20px;
}

.reward_block {
background-color: transparent !important;
}

.player_boards {
font-size: 20px !important;
}

.player_score_value {
font-size: 24px !important;
}
